<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Дроны — DroneControl</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
  <header>
    <nav>
      <div class="logo">DroneControl</div>
      <ul class="nav-links">
        <li>
          <a href="{{ url_for('index') }}"
             class="{% if request.endpoint == 'index' %}active{% endif %}">
            Мониторинг
          </a>
        </li>
        <li>
          <a href="{{ url_for('admin.missions') }}"
             class="{% if request.endpoint == 'missions' %}active{% endif %}">
            Миссии
          </a>
        </li>
        <li>
          <a href="{{ url_for('admin.logs') }}"
             class="{% if request.endpoint == 'logs' %}active{% endif %}">
            Логи
          </a>
        </li>
        <li>
          <a href="{{ url_for('admin.drones') }}"
             class="{% if request.endpoint == 'drones' %}active{% endif %}">
            Дроны
          </a>
        </li>
        <li>
          <a href="{{ url_for('pilots') }}"
             class="{% if request.endpoint == 'pilots' %}active{% endif %}">
            Пилоты
          </a>
        </li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('auth.logout') }}">Выход</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.login') }}">Вход</a></li>
          <li><a href="{{ url_for('auth.register') }}">Регистрация</a></li>
        {% endif %}
      </ul>      
    </nav>
  </header>

  <main>
    <!-- Форма добавления -->
    <section class="controls">
      <h3>Добавить дрон</h3>
      <form id="droneForm" method="post" action="{{ url_for('admin.drones') }}">
        <label>Марка<br/>
          <input type="text" name="mark" placeholder="Напр. DJI" required>
        </label><br/><br/>
        <label>Модель<br/>
          <input type="text" name="model" placeholder="Напр. Phantom 4" required>
        </label><br/><br/>
        <label>Серийный номер<br/>
          <input type="text" name="serial" placeholder="SN123456" required>
        </label><br/><br/>
        <button class="toggle-btn" type="submit">Добавить</button>
      </form>
    </section>

    <!-- Список дронов -->
    <section class="missions-list">
      <h2>Список дронов</h2>
        {% for drone in drones %}
        <div class="mission-card">
          <h3>Дрон {{ loop.index }}</h3>
          <p>Марка: {{ drone.mark }}</p>
          <p>Модель: {{ drone.model }}</p>
          <p>Серийный номер: {{ drone.serial }}</p>
        </div>
        {% endfor %}

      <!-- в дальнейшем эти карточки будут генерироваться из JS -->
    </section>
  </main>

  <footer>&copy; 2025 Drone Hackathon by <span style="color: #e63946;"><b>ITshechka</b></span></footer>

  <!-- <script src="../JS/drones.js"></script> -->
</body>
</html>
