<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Пилоты — DroneControl</title>
  <link rel="stylesheet" href="../static/main.css"/>
</head>
<body>
  <header>
    <nav>
      <div class="logo">DroneControl</div>
      <ul class="nav-links">
        <li><a href="main.html">Мониторинг</a></li>
        <li><a href="missions.html">Миссии</a></li>
        <li><a href="logs.html">Логи</a></li>
        <li><a href="drones.html">Дроны</a></li>
        <li><a href="pilots.html" class="active">Пилоты</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- Форма добавления -->
    <section class="controls">
      <h3>Добавить пилота</h3>
      <form id="pilotForm">
        <label>ФИО<br/>
          <input type="text" name="name" placeholder="Иванов Иван Иванович" required>
        </label><br/><br/>
        <label>Контакты<br/>
          <input type="text" name="contact" placeholder="+7 777 123-45-67" required>
        </label><br/><br/>
        <button class="toggle-btn" type="submit">Добавить</button>
      </form>
    </section>

    <!-- Список пилотов -->
    <section class="missions-list">
      <h2>Список пилотов</h2>

      <div class="mission-card">
        <h3>Пилот #1</h3>
        <p>ФИО: Иванов Иван Иванович</p>
        <p>Контакты: +7 777 123-45-67</p>
      </div>

      <!-- в дальнейшем эти карточки будут генерироваться из JS -->
    </section>
  </main>

  <footer>&copy; 2025 Drone Hackathon</footer>

  <script src="../JS/pilots.js"></script>
</body>
</html>
